/* droid-sans-regular - latin */
@font-face {
  font-family: 'Droid Sans, sans-serif';
  font-style: normal;
  font-weight: 400;
}
/* droid-sans-700 - latin */
@font-face {
  font-family: 'Droid Sans, sans-serif';
  font-style: normal;
  font-weight: 700;
}
